body{
    background: rgb(1, 120, 255);
}
div{
    display: flex;
}
section{
    background: white;
    width: 700px;
    height: 350px;
    margin: auto;
    border-radius: 15px;
    box-shadow: 5px 5px 10px black;
}
div{
    font: normal 40pt Arial;
    text-align: center;
    width: 210px;
    margin: auto;
}
h1{
    text-align: center;
    font: normal 30pt Arial;
}